body {
    background-image: url('../image/hacker.jpg');
    background-position-y: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    min-width:fit-content;
}

h1 {
    color: white;
    text-align: center;
    font-size: 10ch; 
}

